.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  .label {
    font-size: 18px;
    color: #212529;
  }

  .select-icon {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0 10px;
    margin: 10px 0;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
