.detail-container {
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .detail-degrees-container {
    display: flex;

    .detail-degrees-content {
      width: 50%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .detail-degrees {
        font-size: 32px;
        color: #9d174d;
        font-weight: 900;
        text-align: start;
      }

      .detail-icon-content {
        display: flex;
        align-items: center;

        .detail-degrees-icon {
          width: 50%;
        }
      }

      .detail-deg {
        color: #9ca3af;
        font-style: initial;
        text-transform: capitalize;
        text-align: start;
      }
    }
    @media (min-width: 1012px) {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .detail-degrees-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;

        .detail-deg {
          font-size: 16px;
          padding-top: 5px;
        }
      }
    }
  }

  @media (min-width: 700px) {
    width: 60%;

    .detail-degrees-content {
      .detail-deg {
        font-size: x-large;
      }
    }
  }
  @media (min-width: 1012px) {
    width: 95%;
  }
}
